#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.listCard {
    border: 1px green dotted;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.listCard::-webkit-scrollbar {
    display: none;
  }

.card {
    border: 1px black dotted;

    width: 15vw;
    height: 8vw;
    margin: 1vw;

    flex-shrink: 0;

    -webkit-transition: transform 0.4s;
}

.card:hover {
    transform: scale(1.3, 1.3);
}

.portada {
    width: 100%;
    height: 40vw;
}